* {
    margin: 0;
    padding: 0;
}

:root {
    --primary: #2c3e50;
    --primary-light: #53697f;
    --side-text: #ffffff;
    --highlight: #3498db;
    --hover: #3a5169;
    --hover-light: #44586b;
    --border: #3c5268;
    --code-light: #f9f9f9;
    --border-light: #ccc;
    --active-link: #e74c3c;
    --button-remove-primary: #f44336;
    --button-remove-hover: #d32f2f;
    --button-success-primary: #4caf50;
    --button-success-hover: #46a049;
    --button-primary: #007bff;
    --button-hover: #0066d3;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

pre,
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

html,
body {
    height: 100%;
    line-height: 1.5;
    color: var(--primary-text-color);
}

textarea,
input,
button {
    font-size: 1rem;
    font-family: inherit;
    border: none;
    border-radius: 8px;
    padding: 0.5rem 0.75rem;
    box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
    background-color: var(--side-text);
    line-height: 1.5;
    margin: 0;
}

button {
    color: var(--button-primary);
    font-weight: 500;
}

textarea:hover,
input:hover,
button:hover {
    box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.6), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

button:active {
    box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4);
    transform: translateY(1px);
}

h2 {
    margin-bottom: 20px;
}

#root {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 55px 1fr;
}

/* Header */
#header {
    padding-top: 3px;
    padding-left: 10px;
    background-color: var(--primary);
    grid-column: 1/3;
    color: var(--side-text);
}

/* Sidebar section */

#sidebar {
    width: 18rem;
    background-color: var(--primary-light);
    border-right: solid 1px var(--border-light);
    display: flex;
    color: var(--side-text);
    flex-direction: column;
}

#sidebar>* {
    padding-left: 2rem;
    padding-right: 2rem;
}

#sidebar nav {
    flex: 1;
    overflow: auto;
    padding-top: 1rem;
}

i {
    color: var(--primary-light);
}

#sidebar ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#sidebar li {
    margin: 0.25rem 0;
}

#sidebar nav a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;

    white-space: pre;
    padding: 0.5rem;
    border-radius: 8px;
    color: inherit;
    text-decoration: none;
    gap: 1rem;
}

#sidebar nav a:hover {
    background: var(--hover-light);
}

#sidebar nav a.active {
    background: var(--hover);
    color: var(--side-text);
}

#sidebar nav a.pending {
    color: var(--hover);
}


/* Detail section */
#detail {
    flex: 1;
    padding: 2rem 4rem;
    overflow-y: auto;
}

#error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Home  */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    min-width: 300px;
    margin: 0 auto;
    padding: 20px;
    gap: 30px;
}

/* Input Container */
.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.input-options-and-btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.input-btn-contianer {
    display: flex;
    align-items: center;
    gap: 8px;
}

.input-btn-contianer>button {
    cursor: pointer;
}

textarea {
    min-width: 270px;
    width: 40vw;
    height: 200px;
    resize: none;
    padding: 12px;
    border-radius: 0;
    border: 1px solid var(--border-light);
    overflow: hidden;
    box-sizing: border-box;
}

select {
    padding: 5px;
    border: 1px solid var(--border-light);
}

.execute-button {
    background-color: var(--button-remove-primary);
    color: var(--side-text);
    border: none;
    cursor: pointer;
}

.execute-button:hover {
    background-color: var(--button-remove-hover);
}

.execute-button.valid {
    background-color: var(--button-success-primary);
}

.execute-button.valid:hover {
    background-color: var(--button-success-hover);
}

/* resultTable.css */
.table-container {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid var(--border-light);
}

th,
td {
    padding: 8px;
    border: 1px solid var(--border-light);
    text-align: left;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.button-container>button {
    cursor: pointer;
}

.export-button,
.bookmark-button {
    padding: 8px 15px;
    background-color: var(--button-primary);
    color: var(--side-text);
    border: none;
    cursor: pointer;
}

.bookmark-button.bookmarked {
    background-color: var(--button-success-primary);
}

.bookmark-button.bookmarked:hover {
    background-color: var(--button-success-hover);
}

.bookmark-button:disabled {
    background-color: var(--border);
    cursor: not-allowed;
}

/* modal.css */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    background-color: var(--side-text);
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    border: none;
    padding: 8px 20px;
    background: transparent;
    color: var(--side-text);
    box-shadow: none;
    cursor: pointer;
}

.modal-close:hover {
    box-shadow: none;
    background-color: var(--side-text);
    color: var(--primary);
}

/* resultTable.css */

.result-table-container {
    margin-top: 20px;
    max-height: 60vh;
    max-width: 60vw;
    overflow-y: auto;
    overflow-x: auto;
}

.virtualized-table-container {
    margin-top: 20px;
    max-height: 60vh;
    max-width: 60vw;
    overflow-y: hidden;
    overflow-x: hidden;

}

/* Query View */
.query-view-container {
    border-radius: 5px;
}

.query-view-container h3 {
    margin-top: 0;
}

.query {
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    background-color: var(--code-light);
    border: 1px solid var(--border-light);
    padding: 10px;
    margin-top: 10px;
    width: 60vw;
    height: 60vh;
    border-radius: 5px;
}

/* History */
/* Shared Styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid var(--border-light);
    margin-bottom: 10px;
    background-color: var(--code-light);
}

.info {
    flex: 1;
}

.info div {
    margin-bottom: 5px;
}

.info strong {
    margin-right: 5px;
}


.item button {
    margin-left: 5px;
    padding: 8px 15px;
    cursor: pointer;
    border: none;
    color: var(--side-text);
}

.button {
    color: var(--side-text);
}

.button.view-button {
    background-color: var(--hover-light);
}

.button.view-button:hover {
    background-color: var(--primary);
}

.button.execute-button,
.button.save-button {
    background-color: var(--button-success-primary);
}

.button.execute-button:hover,
.button.save-button {
    background-color: var(--button-success-hover);
}

.button.remove-button {
    background-color: var(--button-remove-primary);
}

.button.remove-button:hover {
    background-color: var(--button-remove-hover);
}

.button.edit-button {
    background-color: var(--hover-light);
}

.button.edit-button:hover {
    background-color: var(--primary);
}

.message {
    font-size: 1.2rem;
    font-style: italic;
    color: #555;
}

.message::before {
    content: "\1F614";
    font-style: normal;
    margin-right: 5px;
}

/* History */
.history-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.clear-history-button {
    padding: 8px 15px;
    background-color: var(--button-remove-primary);
    color: var(--side-text);
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.clear-history-button:hover {
    background-color: var(--button-remove-hover);
}

.no-history-message {
    font-size: 1.2rem;
    font-style: italic;
    color: var(--border);
}

.no-history-message::before {
    content: "\1F614";
    font-style: normal;
    margin-right: 5px;
}

.data-not-found-message {
    width: 60vw;
    height: 60vh;
}

/* Bookmark */
.bookmark-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.rename-bookmark {
    margin-top: 10px;
    display: flex;
    width: 20vw;
    flex-direction: column;
    gap: 10px;
}

.no-bookmark-message {
    font-size: 1.2rem;
    font-style: italic;
    color: var(--border);
}

.no-bookmark-message::before {
    content: "\1F614";
    font-style: normal;
    margin-right: 5px;
}


/* Error Page */
#error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    font-family: Arial, sans-serif;
    color: var(--border);
}

#error-page h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

#error-page p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

#error-page a {
    font-size: 1.2rem;
    color: var(--side-text);
    text-decoration: none;
}

#error-page button {
    cursor: pointer;
    color: var(--side-text);
    background-color: var(--button-primary);
}

#error-page button:hover {
    background-color: var(--button-hover);
}


/* Media Queries */

#sidebar,
#detail {
    transition: all 0.3s ease;
}

@media (min-width: 768px) {}

@media (max-width: 767px) {
    #sidebar {
        width: 0;
        display: none;
    }

    #detail {
        margin-left: 0;
        grid-column: 1/3;
        padding: 0;
    }

    .input-options-and-btns {
        flex-direction: column;
        gap: 10px;
    }

    .input-btn-contianer {
        width: 100%;
        justify-content: space-between;
    }

    .item {
        flex-direction: column;
    }

    .rename-bookmark {
        width: 100%;
    }
}